@model List<RepositoryProjeto.Entities.AluguelView>
@{
    ViewBag.Title = "Rents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rents</h2>
@if (Model.Count == 0)
{
    <text>We don't have any rents yet.</text>
}
else
{
    <ul>
        @foreach (var rent in Model)
        {
            <li>@rent.CustomerName rented: @Html.ActionLink(rent.MovieName, "Details/" + rent.MovieId, "Movies")</li>
        }
    </ul>
}